*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
    color-scheme: light dark;
}

body {
    font-family: system-ui, sans-serif;
}

html, body, #root {
    height: 100%;
}

img {
    display: block;
}

ul, menu {
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    line-height: 1.2;
    letter-spacing: -0.0625rem;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
