.pokemonData {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: baseline;
}

.pokemonStats {
    background: hsl(0deg 20% 20%);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.loadingIndicator {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
}