.wrapper {
    position: fixed;
    inset: 0;

    display: grid;
    justify-content: center;
    align-items: center;
}

.dialog {
    background: hsl(0deg 10% 20%);
    padding: 1rem;
    border-radius: 8px;
    min-width: 45ch;
    max-height: 40vh;
    overflow: auto;

    >*+* {
        margin-top: 1.3em;
    }
}

.gameList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.areaListItem {
    display: flex;
    gap: 0.5rem;

    &::before {
        content: url("/pokeball.svg");
        width: 1rem;
        margin-top: 0.09rem;
    }
}